

  <div class="container" id="home-container">
<div class="jumbotron text-center text-white">
    <h1 class="jumbo-text">Apoorv's Blog</h1>
    <p class="lead">Hi Welcome to my blog page, enjoy reading interesting articles and making new connections!</p>
    <hr class="my-4">
    <p> This blog is for literature lovers who want to share their work and read some quality content posted by fellow peers</p>
    <br>
    <br>
    <a class="btn-success btn-lg" href="#" role="button">Sign Up!</a>
  
</div>
</div>


