
<div id="page-content">
  <div class="container" id="home-container">
<div class="jumbotron text-center text-white">
    <h1 class="jumbo-text">Apoorv's Blog</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    <hr class="my-4">
    <p> This blog is for literature lovers who want to share their work and read some quality content posted by fellow peers</p>
    <br>
    <br>
    <a class="btn-success btn-lg" href="#" role="button">Sign Up!</a>
  
</div>
</div>

   
</div>
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "Apoorv Chandurkar", "https://www.linkedin.com/in/apoorv-chandurkar/", class: "text-white-50"%></small>
    </div>
</footer>